<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
</head>
<body>

    
    <% movies.forEach ((movie)=> {%>
        <div>TITULO : <%=movie.title%>
        </div>
        <div>rating : <%=movie.rating%>
        </div>
    <%})%>

</body>
</html>